<div class="container">
    <div class="row">
        <div class="col-12">
            <app-product></app-product>
            <hr>
            <table class="table table-bordered mb-4 bg-success text-white text-capitalize">
                <thead class="text-white">
                    <tr class="bg-primary font-weight-bold">
                        <th>sr no</th>
                        <th>first name</th>
                        <th>last name</th>
                        <th>email</th>
                        <th>profile</th>
                        <th>age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let teamembers of Team; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{teamembers.fname}}</td>
                        <td>{{teamembers.lname}}</td>
                        <td>{{teamembers.email}}</td>
                        <td>{{teamembers.profile}}</td>
                        <td>{{teamembers.age}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered bg-warning  text-capitalize ">
                <thead>
                    <tr class="bg-dark text-white font-weight-bold">
                            <th>sr no</th>
                            <th> name</th>
                            <th> nation</th>
                            <th>dist</th>
                            <th>capital</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let statemember of states;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{statemember.name}}</td>
                        <td>{{statemember.nation}}</td>
                        <td>{{statemember.dist}}</td>
                        <td>{{statemember.capital}}</td>

                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered bg-danger text-white  text-capitalize ">
                <thead>
                    <tr class="text-dark font-weight-bold">
                        <th>sr no</th>
                        <th>name</th>
                        <th>state</th>
                        <th>tookOffice</th>
                        <th>party</th>
                        <th>age</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let ministers of chiefMinisters;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ministers.name}}</td>
                        <td>{{ministers.state}}</td>
                        <td>{{ministers.tookOffice}}</td>
                        <td>{{ministers.age}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>