<!-- <p class="para">
    here is creating li using <strong>{{productName}}</strong> and
    version is <strong>{{productversion}}</strong> and this is one of the best version in  <strong>{{productstatus}}</strong>
    and status is <strong>{{proStatus}}</strong>
</p> -->

<!-- #### Or -->

<p class="para">
    here is creating li using <strong>{{productName}}</strong> and
    version is <strong>{{getproductversion()}}</strong> and this is one of the best version in  <strong>{{productstatus}}</strong>
    and status is <strong>{{proStatus}}</strong>
</p>
<div class="text-center text-white">
    <!-- <p class="bg-dark text-center text-white" [innerHTML]  = "productName"> -->
 <p class="bg-dark" [innerHTML]  = "'angular 16'">
    <!-- here we used property as a value "''" -->
</p>
<p class="bg-info" [innerText] = "productstatus">
<!-- here we used property as a class -->
</p>
<p class="bg-success" [textContent] = "proStatus">

</p>

<input type="text" class="form-control  bg-info text-white" [value] = "skillName">
<input type="text" class="form-control  bg-dark text-white" [value] = "'Angular 14'">

</div>

<!-- <header>
    <h1 class="text-capitalize text-center m-4">
        creating list using angular
    </h1>
</header>

<ul class="list-group mb-4">
    <li class="list-group-item" *ngFor = "let skill of skills">
       This is <strong>{{skill}} </strong>which is important to becoming a developer
    </li>
</ul>
<ul class="list-group mb-4">
    <li class="list-group-item bg-info text-white" *ngFor = "let member of team">
        This is My Team member <strong>{{member}}</strong> who is having good quality
    </li>
</ul>

<ul class="list-group text-capitalize mb-4">
    <li class="list-group-item bg-success text-white" *ngFor = "let players of Indiaplayers">
      members of our indian cricket team is <strong>{{players}}</strong> he is one of the best players from team
    </li>
</ul>
 
<ul class="list-group text-capitalize mb-4">
    <li class="list-group-item bg-danger text-white" *ngFor = "let hero of leaders">
        these are our role models <strong>{{hero}}</strong> 
    </li>
</ul>

<ul class="list-group mt-4">
    <li class="list-group-item bg-warning" *ngFor = "let watch of brands">
        one of the most branded watch is <strong>{{watch}}</strong>
    </li>
</ul> -->